/* style001.css */

body
{
    margin: 0px 8px;
    /* background-image: url('src/media/textures/bg/bg_grid_001.png'); */
    /* width: 1200px; */
    background-color: rgb(40, 40, 40);
    font-family: Arial;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

button
{
    align-self: flex-start;
    margin: 1px;
    padding: 9px;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: arial;
    font-size: 14.5px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    text-indent: 0px;
    text-align: center;
    line-height: 0px;
    display: inline-block;
}

button:hover
{
    border-color: rgb(255, 255, 255);
    background: rgb(0, 217, 255);
}

button:active
{
    /*position: relative;
    top: 1px;*/
    border-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
}

input
{
    padding: 2px 5px;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

textarea
{
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    color: rgb(255, 255, 255);
    padding: 2px 6px;
    border-radius: 8px;
    font-family: Arial;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

hr
{
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 10px;
    background-color: rgb(100, 100, 100);
}

.currentTimeStyle
{
    font-family: arial;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

/* skip back and forward buttons */
.skipColor
{
    background-color: rgb(170, 240, 240);
}

.flexRow
{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
    justify-content: center;
}

/* flex for notes words conclusion */
.flexRowMedium
{
    max-width: 1000px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.startendtime
{
    height: 26px;
    width: 150px;
    border-radius: 6px;
    border: 3px solid rgb(20, 80, 117);
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgb(91, 97, 120);
}

.startendtime:hover
{
    border-color: rgb(190, 190, 190);
}

.timeCode
{
    font-size: 18px;
    color: rgb(0, 220, 220);
}

.fontColor
{
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.note
{
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.words
{
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.conclusion
{
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.videoLook
{
    width: 800px;
    border: 0px solid;
    border-color: white;
}

.titleBig
{
    padding-left: 10px;
    font-size: 27px;
    color: rgb(255, 255, 255);
}

.videoButtonsTEXT
{
    width: 100px;
    height: 20px;
    padding: 0px 0px;
    margin-top: 3px;
    line-height: 22px;
    display: inline-block;
    background: rgb(20, 20, 20);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.videoButtons
{
    margin: 1px;
    padding: 9px;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(100, 100, 100);
    border-radius: 3px;
    text-decoration: none;
    font-family: arial;
    font-size: 14.5px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    text-indent: 0px;
    line-height: 0px;
    text-align: center;
    display: inline-block;
}

.videoButtons:hover
{
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.videoButtons:active
{
    position: relative;
    top: 1px;
    border-color: rgb(255, 255, 0);
}

.addRecordButton
{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    text-decoration: none;
    text-indent: 0px;
    line-height: 0px;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
}

.addRecordButton:hover
{
    border-color: rgb(204, 200, 255);
}

.addRecordButton:active
{
    position: relative;
    top: 2px;
    border-width: 4px;
}

.playButtons
{
    margin: 1px;
    padding: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 100, 150);
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    font-family: arial;
    font-weight: bold;
    font-size: 14.5px;
    color: rgb(247, 247, 247);
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    line-height: 0px;
    display: inline-block;
}

.playButtons:hover
{
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.myVideoButtonSmaller
{
    width: 150px;
    align-content: flex-end;
}

.myTextBox2
{
    width: 60px;
    padding: 2px 7px;
    border: 2px solid rgb(146, 190, 218);
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.myTextBox2:hover
{
    border-color: rgb(190, 190, 190);
}

.myTextBox2:active
{
    position: relative;
    top: 1px;
}

.notesWordsConclusionSection
{
    text-align: center;
}

.mainNotesWordsConclusion
{
    height: 100px;
    width: 350px;
    padding: 9px 9px;
    box-sizing: border-box;
    border: 3px solid rgb(0,0,0);
    border-color: black;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.mainNotesWordsConclusion:hover
{
    border-color: rgb(190, 190, 190);
    background-color: rgb(210, 230, 230);
}

.mainNotesWordsConclusion:active
{
    position: relative;
    top: 1px;
}

.myTextBoxNotes
{
    height: 100px;
    width: 100%;
    padding: 9px 9px;
    box-sizing: border-box;
    border: 2px solid rgb(20, 80, 117);
    border-radius: 6px;
    border-color: black;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.myTextBoxNotes:hover
{
    border-color: rgb(190, 190, 190);
    background-color: rgb(210, 230, 230);
}

.myTextBoxNotes:active
{
    position: relative;
    top: 1px;
}

.myTextBoxWords
{
    height: 100px;
    width: 100%;
    padding: 9px 9px;
    box-sizing: border-box;
    border: 2px solid rgb(20, 80, 117);
    border-color: black;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.myTextBoxWords:hover
{
    border-color: rgb(190, 190, 190);
    background-color: rgb(210, 230, 230);
}

.myTextBoxWords:active
{
    position: relative;
    top: 1px;
}

.myTextBoxConclusion
{
    height: 100px;
    width: 100%;
    padding: 9px 9px;
    box-sizing: border-box;
    border: 2px solid rgb(20, 80, 117);
    border-color: black;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.myTextBoxConclusion:hover
{
    border-color: rgb(190, 190, 190);
    background-color: rgb(210, 230, 230);
}

.myTextBoxConclusion:active
{
    position: relative;
    top: 1px;
}

.displayNote
{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.displayWords
{
    font-size: 18px;
    color: rgb(255, 255, 0); /* yellow */
    text-align: center;
}

.displayConclusion
{
    font-size: 18px;
    color: rgb(210, 210, 210);
    text-align: center;
}

.summaryStyle
{
    color: rgb(255, 255, 255);
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

